/* share_buttons.php */

.social__share__buttons {
	border-top: 1px solid silver;
	padding-top: 0.5em;
	margin-top: 3em;
}

@media (min-width:1024px) {
	a.btn__arrow.social__share__links {
		padding: 15px;
		margin: 15px 15px 0 0;
	}

	.btn__arrow.social__share__links svg {
		width: 30px;
		height: 30px;
		margin-bottom: -10px;
		margin-right: 10px;
	}
}

@media (max-width:1023px) {
	a.btn__arrow.social__share__links {
		padding: 5px 10px;
		margin: 5px 5px 0 0;
	}	

	.btn__arrow.social__share__links svg {
		width: 20px;
		height: 20px;
		margin-bottom: -5px;
		margin-right: 5px;
	}
}

.btn__arrow--solid-dark.social__share__links:hover:after {
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: center top;
	-ms-transform-origin: center top;
	transform-origin: center top;
	transition: -webkit-transform .4s cubic-bezier(.77, 0, .175, 1) 0s;
	transition: transform .4s cubic-bezier(.77, 0, .175, 1) 0s;
	transition: transform .4s cubic-bezier(.77, 0, .175, 1) 0s, -webkit-transform .4s cubic-bezier(.77, 0, .175, 1) 0s;
}

.btn__arrow--solid-dark.facebook:after {
	background-color: #4267B2;
}

.btn__arrow--solid-dark.linkedin:after {
	background-color: #2867B2;
}

.btn__arrow--solid-dark.instagram:after {
	background-color: #C13584;
}

.btn__arrow--solid-dark.social__share__links:after {
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
	transition: -webkit-transform .4s cubic-bezier(.77, 0, .175, 1) .5s;
	transition: transform .4s cubic-bezier(.77, 0, .175, 1) .5s;
	transition: transform .4s cubic-bezier(.77, 0, .175, 1) .5s, -webkit-transform .4s cubic-bezier(.77, 0, .175, 1) .5s;
}

.btn__arrow--solid-dark.social__share__links:before {
	background-color: #272727;
	transition: background-color 0s linear .8s;
}